body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #000000;
}

.container {
  background-color: #ffffff;
  color: #000000; /* Updated text color to black */
  padding: 20px;
  border-radius: 5px;
  width: 400px;
  text-align: center;
}


.container h2 {
  color: #000000; /* Updated text color to black */
  margin-top: 0;
}


.input-group {
  margin-bottom: 15px;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
  text-align: left;
}

.input-group input,
.input-group select {
  width: 100%;
  padding: 5px;
  border: 1px solid #000000;
  border-radius: 3px;
  text-align: left;
}

.input-group .submit-btn {
  text-align: center;
}

input[type="submit"] {
  background-color: #000000; /* Updated submit button color (green) */
  color: white;
  cursor: pointer;
  text-align: center;

}

input[type="submit"]:hover {
  background-color: #999999; /* Updated submit button hover color (darker green) */
}
select {
  color: #000000; /* Set the text color of the dropdown */
  background-color: #FFFFFF; /* Set the background color of the dropdown */
}

/* New CSS to add Library System text */
.header {
  position: absolute;
  top: 10px;
  left: 10px;
  color: #ffffff;
  font-size: 30px; /* Updated font size to make it bigger */
  font-weight: bold; /* Added font weight to make it bold */
}

.container {
  position: relative;
}

.top-right-image {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 300px;
  height: auto;
  .ui-datepicker {
    width: 300px;
    padding: 10px;
    background-color: #000000;
    border: 1px solid #000000;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
  }
}


.nav {
  background-color: #000;
  padding: 10px;
  margin-bottom: 20px;
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

.nav li a:hover {
  background-color: #111;
}

.nav {
  background-color: #000;
  padding: 10px;
  margin-bottom: 0; /* Updated margin-bottom to 0 */
  position: fixed; /* Added position: fixed */
  top: 0; /* Added top: 0 */
}

.nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.nav li {
  float: left;
}

.nav li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 30px;
}

.nav li a:hover {
  background-color: #111;
}
