/* user_dashboard.css */

/* General Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; 
  }
  
  .container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
  }
  
  a {
    text-decoration: none;
    color: #337ab7;
  }
  
  /* Header Styles */
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
  }
  
  /* Main Content Styles */
  
  .main-content {
    margin: 40px auto 0;
    max-width: 960px;
    background-color: #f5f5f5;
    padding: 20px ;
  }
  .form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-actions {
    margin-top: 20px;
  }
  
  .btn-approve,
  .btn-deny {
    display: inline-block;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .btn-deny {
    background-color: #FF0000;
  }
  
  .btn-approve:hover,
  .btn-deny:hover {
    background-color: #45a049;
  }
  
  .dashboard-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .card {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  
  .card h3 {
    margin-top: 0;
  }
  
  .card p {
    margin: 10px 0;
  }
  
  /* Footer Styles */
  
  footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    padding: 10px;
    text-align: left;
  }
