/* user_dashboard.css */

/* General Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; 
  }
 
  a {
    text-decoration: none;
    color: #337ab7;
  }
  
  /* Header Styles */
  
  .container {
    max-width: 300px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
  }
  
  /* Main Content Styles */
  
  .main-content {
    margin: 40px auto 0;
    max-width: 960px;
    background-color: #f5f5f5;
    padding: 20px ;
  }
  
  .dashboard-cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
  }
  
  .card {
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 4px;
  }
  
  .card h3 {
    margin-top: 0;
  }
  
  .card p {
    margin: 10px 0;
  }
  
  /* Footer Styles */
  
  footer {
    font-size: 20px;
    padding: 10px;
    text-align: center;
    background-color: #f2f2f2;
  }
  
  
  h2 {
    color: #333;
    text-align: center;
  }


  .form-group {
    margin-bottom: 20px;
  }

  .form-group label {
    display: block;
    margin-bottom: 5px;
    color: #555;
  }

  .form-group input[type="hidden"] {
    display: none;
  }

  .form-group button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #ff00b7;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  .form-group button:hover {
    background-color: #000000;
  }
