/* reset_DB.css */

/* General Styles */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5; 
  }
  .center-text {
    text-align: center;
  }
  .center {
    display: flex;
    justify-content: center;
  }
  a {
    text-decoration: none;
    color: #337ab7;
  }
  
  .center {
    display: flex;
    justify-content: center;
  }


  /* Header Styles */
  
  .container {
    max-width: 300px;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  header {
    background-color: #333;
    color: #fff;
    padding: 10px;
  }
  
  .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  nav ul li {
    display: inline;
    margin-right: 10px;
  }
  
  nav ul li a {
    color: #fff;
  }
  
  /* Main Content Styles */
  
  h2 {
    color: #333;
    text-align: center;
  }
  
  .main-content {
    margin: 40px auto 0;
    max-width: 960px;
    background-color: #f5f5f5;
    padding: 20px;
  }
  
  form {
    margin-top: 20px;
  }
  
  form p {
    text-align: center;
  }
  
  form input[type="file"] {
    margin-bottom: 10px;
  }
  .form-group {
    margin-bottom: 20px;
    display: flex;
    justify-content: center; /* Center align the buttons */
  }
  
  .form-group button {
    display: block;
    width: 100%;
    padding: 10px 20px;
    background-color: #4CAF50;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .form-group button:hover {
    background-color: #45a049;
  }
  
  
  footer {
    font-size: 20px;
    padding: 10px;
    text-align: center;
    background-color: #f2f2f2;
  }
  
  
