body {
  font-family: Arial, sans-serif;
  background-color: #f5f5f5;
  margin: 0;
  padding: 20px;
}

h2 {
  color: #333;
  margin-bottom: 10px;
}

p {
  margin: 0;
}
.book-title {
  font-size: 18px;
  font-weight: bold;
  color: #333;
}

.book-details {
  margin-top: 10px;
}

.book-details p {
  margin-bottom: 5px;
}

.book-details hr {
  margin: 10px 0;
  border: none;
  border-top: 1px solid #ccc;
}

.primary-color {
  color: #3498db;
}

.secondary-color {
  color: #e67e22;
}

/* Login form styles */
.login-form {
  text-align: right;
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="submit"] {
  margin-top: 5px;
}
.school-details {
  background-color: #fff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.book {
  background-color: #fff;
  padding: 20px;
  margin-top: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}  
.book {
  display: flex;
}

.book-image {
  flex: 1;
  margin-right: 20px;
}

.book-image img {
  max-width: 100%; /* Set maximum width to ensure image fits within its container */
  height: auto; /* Maintain aspect ratio */
}
.add-book-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}

.add-book-button:hover {
  background-color: #45a049;
}

.book-details {
  flex: 2;
}
